html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #FAF0CA; 
  margin:0
   cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥄</text></svg>") 16 0,auto; 
}

@font-face{
  font-family: "alaska";
   src: url(fonts/ALASKA.ttf);
}

@font-face{
  font-family: "foodlist";
  src: url(fonts/Foodlist-Regular.ttf);
}

@font-face{
  font-family: "neat";
  src: url(fonts/Jojoba.otf);
}

/* nav bar */
a{
  color: #0D3B66;
  text-decoration: none;
  padding:15px;
  font-size:22px;
}

ul li{
  font-family: foodlist;
  list-style-type: none;
  display: inline;
}

li a:hover {
  background-color: #EE964B;
}

nav{
  display:flex;
  justify-content:flex-end;
  background-color: #F4D35E;
  width:100%;
  box-sizing: border-box;
  padding:5px;

}

/* logo */
.logo{
  width: 120px;
  height: 70px;
  object-fit: cover;
  display: flex;
  align-self: flex-start;
  position: absolute;
  padding:2px;
  margin-left:10px;
}

h1{
  font-family: foodlist;
  text-align: center;
  color: #0D3B66;
  font-size: 3.5em;
  margin-bottom:0em;
}
h2{
  font-family: foodlist;
  text-align: center;
  color: #0D3B66;
  margin-bottom: 0.5em;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.countryImg:hover {
  filter:drop-shadow(10px 10px 0px #F95738);
  transition: 0.3s, smooth;
}
p, h2 {
  font-size: 20px;
  font-family: neat;
  text-align: center;
  color: black;
  margin-top:0.5em;
  margin-left:2em;
  margin-right:2em;
}

footer{
  font-family: foodlist;
  text-align: center;
  color: #0D3B66;
  background-color: #F4D35E;
  padding: 10px;
}

